@import "variables.less";
@import "base.less";

.material-icons {
  vertical-align: middle;
}

a {
  color: @blue;
}

nav {
  z-index: 100;
  .layout-transparent .mdl-layout__header,
  .layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  .transition;
  &.at-top {
    box-shadow: none;
  }
  a {
    padding: .75em;
    color: @gray;
    font-weight: normal;
    &:hover {
      background: rgba(0,0,0,.1);
    }
    &.logo {
      padding-left: 2em;
      padding-right: 2em;
      img {
        height: 1em;
        vertical-align: baseline;
        transform: scale(1.85);
        margin-right: 12px;
        padding-top: 2px
      }
    }
    &.blue-link {
      background: @blue;
      color: white;
      font-weight: bold;
      padding-left: 2em;
      padding-right: 2em;
      &:hover, &.active {
        background: lighten(@blue, 10%);
      }
    }
    &.hamburger {
      float: left!important;
    }
    &.attend {
      float: right;
    }
  }
}

header {
  padding: 0;
  text-align: center;
  height: 85vh;
  max-height: 900px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  background: @white;
  color: @black;
  container {
    height: 330px;
    margin-top: 5em;
    margin-bottom: 2em;
    h1 {
      font-size: 5em;
      margin-bottom: 0;
      img {
        height: 1em;
        vertical-align: top;
      }
    }
    p.lead {
      margin-bottom: .5em;
    }
  }
  animation {
    height: 100vh;
    width: 100%;
    position: relative;
  }
}

#about {
  background: @blue;
  color: @white;
  padding-top: 0;
  .card {
    margin-top: -4.5em;
  }
  .stats {
    margin-top: 4em;
    h1 {
      margin-bottom: 0;
      font-size: 100px;
    }
    p {
      font-size: 1.5em;
    }
  }
}

#photos {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  max-height: 655px;
  overflow: hidden;
  photo {
    display: flex;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
    min-width: 300px;
    max-width: 48.5%;
    margin: 10px;
    position: relative;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-shadow: 0 0 4px rgba(0, 0, 0, .75);
      color: white;
      padding: 1em;
      // background: linear-gradient(to bottom, transparent 0%, transparent 5%, transparent 100%);
      opacity: .5;
      overflow: hidden;
      .transition;
      span {
        position: relative;
        display: inline-block;
        .transition;
        transform: translateY(-20px);
        opacity: 0;
      }
      &:hover {
        opacity: 1;
        // background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, transparent 50%, transparent 100%);
        box-shadow: inset 0 10px 40px rgba(0,0,0,.25);
        span {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }
}

#venue {
  padding: 0;
  position: relative;
  mapbox {
    height: 550px;
    width: 100vw;
    display: block;
  }
  overlay {
    // padding: 4em 0;
    position: absolute;
    top: 2em;
    left: 1.5em;
    width: 100%;
    max-width: 580px;
    height: auto;
    z-index: 400;
  }
  .card-address {
    padding-right: .5em;
    p {
      margin-bottom: 0;
    }
    a {
      text-align: center;
      display: block;
      border-right: 1px solid @ltgray;
    }
    i {
      font-size: 3em;
      display: block;
      // margin-bottom: .5em;
    }
    column:last-of-type a {
      border-right-width: 0px;
    }
  }
  .card-holder {
    position: relative;
  }
  .card-attach {
    border-top: 1px solid @ltgray;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -6px;
    background: @paper;
  }
  .card-transit, .card-driving {
    transform: translateY(40px);
    opacity: 0;
    position: absolute;
    width: 100%;
    visibility: hidden;
  }
  &.active-card-transit {
    .card-transit {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
    .link-transit {
      color: @gray;
    }
  }
  &.active-card-driving {
    .card-driving {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
    .link-driving {
      color: @gray;
    }
  }
}

#schedule {
  background: @blue;
  color: white;
  .card-schedule {
    margin: .25em auto;
    max-width: 420px;
    padding: .5em;
    table {
      display: block;
      tbody {
        display: block;
        tr {
          border-bottom: 1px solid @ltgray;
          display: block;
          &:last-of-type {
            border-bottom-width: 0px;
          }
          &:hover {
            background: #fafafa;
          }
          td {
            padding: .5em;
            &:first-of-type {
              width: 90px;
            }
          }
        }
      }
    }
  }
}

.card {
  display: block;
  background-color: white;
  border-radius: 4px;
  color: @gray;
  box-shadow: 0 1px 7px rgba(0,0,0,0.06),0 1px 3px rgba(0,0,0,0.15);
  padding: 1.5em;
  .transition;
  h1, h2, h3, h4 {
    color: @black;
  }
  h3 {
    font-size: 24px;
    font-weight: normal;
  }
}

#sponsors {
  background: @blue;
  color: white;
  padding-bottom: 0px;
  container {
    // max-width: (280px*3)+100px;
  }
  column {
    padding: .5em;
  }
  .card-sponsor {
    padding: 0;
    width: 100%;
    // max-width: 280px;
    margin-bottom: 1em;
    overflow: hidden;
    z-index: 5;
    &:hover {
      color: @blue;
    }
    .logo {
      padding: 0 15px;
      line-height: 150px;
      height: 150px;
      background: @paper;
      background-position: center;
    }
    i {
      line-height: 2.75em;
      margin-right: .75em;
    }
    .company {
      padding: 1em;
      width: 100%;
      background: white;
    }
  }
  [size="25"] {
    .card-sponsor {
      .logo {
        padding: 0 10px;
        line-height: 110px;
        height: 110px;
        background: @paper;
        background-position: center;
      }
    }
  }
  .grayscale-sponsor {
    margin-top: -1em;
    text-align: center;
    a {
      margin: 1em;
      display: inline-block;
      filter: grayscale(100%) brightness(200%);
      -webkit-filter: grayscale(100%) brightness(200%);
      -moz-filter: grayscale(100%) brightness(200%);
      opacity: .75;
      img {
        max-height: 50px;
      }
      &:hover {
        filter: grayscale(0%) brightness(150%);
        -webkit-filter: grayscale(0%) brightness(150%);
        -moz-filter: grayscale(0%) brightness(150%);
        opacity: 1;
      }
    }
  }
  .bottom {
    background: @blue;
    color: white;
    // margin-top: -6em;
    // padding-top: 7em;
    padding-bottom: 30px;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}

#faq {
  background: white;
  container {
    // max-width: (280px*3)+100px;
  }
  .card-faq {
    padding: 0;
    // width: 100%;
    // max-width: 280px;
    margin: .5em;
    margin-bottom: 1em;
    overflow: hidden;
    z-index: 5;
    &:hover {
    }
    .question {
      position: relative;
      padding: .75em;
      font-weight: bold;
      background: @blue;
      color: white;
    }
    .answer {
      padding: .75em;
      font-size: .85em;
      line-height: 1.5em;
    }
  }
  .card-faq {
    .question {
      cursor: pointer;
      .material-icons {
        margin-top: 3px;
        .transition;
      }
    }
    .answer {
      // display: none;
      // height: auto;
      max-height: 100px;
      position: relative;
      overflow: hidden;
      .transition;
      &:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(transparent,transparent,rgba(255,255,255,.5),white);
        width: 100%;
        height: 100%;
        cursor: pointer;
        .transition;
      }
    }
    &:hover {
      .answer {
        color: black;
      }
    }
    &.answer-is-open {
      .question {
        height: auto;
        .material-icons {
          transform: rotate(90deg);
        }
      }
      .answer {
        // color: black;
        display: block;
        max-height: 100vh;
        &:after {
          cursor-events: none;
          background: transparent;
        }
      }
    }
  }
}

#attend {
  display: block;
  height: 30em;
  padding-top: 30px;
  background: #fafafa;
  height: auto;
  overflow: hidden;
  .transition;
  container {
    // max-width: 400px;
  }
  .attend-button {
    display: block;
    max-width: 400px;
    margin: auto;
    text-align: left;
    margin-bottom: 1em;
    .right {
      font-size: 1.85em;
      transform: translateX(6px);
      .transition;
    }
    &:hover {
      .right {
        transform: translateX(10px);
      }
    }
  }
  .field {
    width: 100%;
    display: block;
  }
  .tabs {
    a {
      flex-grow: 1;
      padding: 1em 0;
      border-bottom: 4px solid transparent;
      color: @gray;
      &:hover {
        color: @blue;
      }
      &:active, .active {
        color: @blue;
        border-bottom-color: @blue;
      }
    }
  }
  .text-center {
    position: relative;
  }
  row {
    position: absolute;
    width: 100%;
    transform: scale(1) rotate(0deg) translateY(150px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    .transition;
  }
  .card {
    // display: none;
    // height: 0;
    margin: auto;
    max-width: 550px;
    transform-origin: center;
    .transition;
    width: 100%;
    // position: absolute;
    top: 0;
    .back-arrow {
      position: absolute;
      left: 1.5em;
      top: 1.15em;
      .transition;
      transform: scale(1.5);
      &:hover {
        padding-right: 20px;
      }
    }
    img {
      display: block;
      width: 100%;
    }
  }
  &.active-student {
    // height: 46em;
    padding-bottom: 15em;
    row {
      // margin-top: -17em;
    }
    .tab-student {
      color: @blue;
      border-bottom-color: @blue;
    }
    .row-student {
      margin-top: -17em;
      visibility: visible;
      transform: scale(1) rotate(0deg) translateY(0px);
      opacity: 1;
      pointer-events: initial;
      // height: auto;
    }
  }
  &.active-mentor {
    // height: 46em;
    padding-bottom: 15em;
    row {
      // margin-top: -17em;
    }
    .tab-mentor {
      color: @blue;
      border-bottom-color: @blue;
    }
    .row-mentor {
      margin-top: -17em;
      visibility: visible;
      transform: scale(1) rotate(0deg) translateY(0px);
      opacity: 1;
      pointer-events: initial;
      // height: auto;
    }
  }
  &.active-sponsor {
    // height: 46em;
    padding-bottom: 15em;
    row {
      // margin-top: -17em;
    }
    .tab-sponsor {
      color: @blue;
      border-bottom-color: @blue;
    }
    .row-sponsor {
      margin-top: -17em;
      visibility: visible;
      transform: scale(1) rotate(0deg) translateY(0px);
      opacity: 1;
      pointer-events: initial;
      // height: auto;
    }
  }
}

#contact {
  background: @blue;
  color: white;
  text-align: center;
}

footer {
  background: @black;
  color: white;
  h2 {
    float: left;
    border-right: 1px solid gray;
    margin-right: .75em;
    padding-right:.75em;
    line-height: 1.5em;
  }
  iframe {
    display: inline-block;
  }
  .facebook-like {
    overflow: hidden;
    width: 80px;
    height: 20px;
  }
  .github-star {
    width: 150px;
    height: 20px;
  }
  .back-to-top {
    float: right;
    margin-top: -100px;
    background: darken(white,.5%);
    &:hover {
      background: white;
    }
    &:active {
      background: darken(white, 10%);
    }
  }
}

// Buttons
.button {
  background: @blue;
  color: white;
  font-weight: bold;
  padding: .75em 1.5em;
  margin: .25em;
  border-radius: @border-radius;
  .transition;
  &:hover, &.active {
    background: lighten(@blue, 10%);
  }
}

@import "mobile.less";
